---
layout: default
title: DataSift Crazy Cart Leaderboard
---

<h1>DataSift Crazy Cart <span>Leaderboard</span></h1>

<hr>

<div class="time-list">
{% for result in site.data.times %}
	<div class="{% if forloop.index == 1 or forloop.index == 2 or forloop.index == 3 %}position-{{ forloop.index }}{% else %}other{% endif %}">
		<span class="position">{{ forloop.index }}</span>
		<span class="name">{{ result.name }}{% if result.video %}<a href="{{ result.video }}" class="video"></a>{% endif %}</span>
		<span class="time">{{ result.time }}</span>
	</div>
{% endfor %}
</div>

<div class="updated">Last updated: {{ site.time | date: '%D' }}</div>